:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --background-light: #d9d9d9;
  --background-dark: #1e1e1e;
  --font-color: #737373;
  --font-color-highlight-light: #8a8a8a;
  --font-color-highlight-dark: #aaa9a9;
  --font-color-light: var(--font-color-highlight-light);
  --padding-top: 95px;
  --scrollbar-background: var(--background-light);
  --thumb-light: #a6a6a6;
  --thumb-dark: #6c6c6c;
  --scrollbar-thumb: var(--thumb-light);
  --thumb-hover-dark: #939393;
  --thumb-hover-light: #626262;
  --thumb-hover: var(--thumb-hover-light);
}

/* Scroll Bar */
::-webkit-scrollbar {
  background: var(--scrollbar-background);
  transition: all 300ms;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 1ex;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover);
}

html {
  scroll-behavior: smooth;
  scrollbar-color: rgb(var(--foreground-rgb)) rgb(var(--background-end-rgb));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding-right: 0 !important;
}

form {
  width: 100%;
}

h6 {
  font-weight: bold !important;
}

.App {
  min-height: 100vh;
}

.Card {
  width: 100%;
  padding: 2rem 1rem;
}

.Dashboard {
  padding: 0.5rem !important;
  padding-top: 5.5rem !important;
}

.Day {
  padding: 0.4rem !important;
  border: 1px solid var(--scrollbar-thumb) !important;
  border-radius: 50% !important;
}

.MuiDayCalendarSkeleton-week {
  justify-content: space-between !important;
  margin: 10px 0 !important;
}

.MuiDateCalendar-root {
  width: 100% !important;
  overflow: initial !important;
  margin: 0 !important;
  margin-bottom: 30px !important;

  .MuiDayCalendar-header-root {
    padding: 0 !important;
  }

  .MuiPickersCalendarHeader-root {
    padding: 0 !important;
  }

  .MuiDayCalendar-header {
    justify-content: space-between !important;
    span {
      font-size: 1.125rem;
      font-weight: bold;
    }
  }

  .MuiDayCalendar-weekContainer {
    justify-content: space-between !important;
    margin: 0.6rem 0;
  }

  .MuiPickersSlideTransition-root {
    overflow: initial !important;
  }

  .MuiPickersCalendarHeader-label {
    text-transform: capitalize !important;
    font-size: large;
    font-weight: bold;
  }
}

.Footer {
  text-align: center;
  padding: 1rem;
}

.Logo-img {
  margin-right: 3.5rem;
  animation: bus-move 800ms infinite linear alternate;
  z-index: 50;
}

// .move-to-right {
//   animation: animation-move-to-right 400ms linear;
// }

@keyframes bus-move {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}

// @keyframes animation-move-to-right {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(100%) scale(5);
//   }
// }

@media screen and (min-width: 600px) {
  .App {
    // padding: 0 2rem;
  }

  .Dashboard {
    margin-left: 1rem !important;
  }

  .Card {
    width: 500px;
  }

  .Terms {
    width: 800px;
  }
}
